# Copie para config/.env e preencha. NÃO versione config/.env.
DIRECTUS_URL=https://directus-bus.candidatosinteligentes.com.br
DIRECTUS_TOKEN=coloque-o-token-estatico-aqui
PUBLIC_URL=https://bus.candidatosinteligentes.com.br
TZ=America/Maceio
